<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <h2>Your Pig Latinized Word: <%= @pig_latinized_word.pig_latinize %></h2>
  </body>
</html>
