<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form method="POST" action="/">
      Type a word for translation:<br>
      <input type="text" name="user_input">

      <input type="submit" id="submit">
    </form>
  </body>
</html>
